html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* 可选：防止滚动条出现 */
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex; /* 可选：使用 flexbox 布局 */
  justify-content: center; /* 可选：水平居中内容 */
  align-items: center; /* 可选：垂直居中内容 */
  background-color: #f0f0f0; /* 示例背景色 */
}

.h-10 {
  height: 10px;
}

.w-10 {
  display: inline-block;
  width: 10px;
}

/*
.layout-basic-demo .arco-layout-header,
.layout-basic-demo .arco-layout-footer,
.layout-basic-demo .arco-layout-sider,
.layout-basic-demo .arco-layout-sider-children,
.layout-basic-demo .arco-layout-content {
  color: var(--color-white);
  text-align: center;
  font-stretch: condensed;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout-basic-demo .arco-layout-header,
.layout-basic-demo .arco-layout-footer {
  height: 64px;
  background-color: var(--color-primary-light-4);
}

.layout-basic-demo .arco-layout-sider {
  width: 206px;
  background-color: var(--color-primary-light-3);
}

.layout-basic-demo .arco-layout-content {
  background-color: rgb(var(--arcoblue-6));
}
*/
